In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

import subprocess

## Key size and timing stats

### Size of bootstrap keys

In [42]:
!ls -la keys/def_80_256_1/bsk00_3_*

-rw-r--r-- 1 jovyan users 12582968 Dec 27 10:10 keys/def_80_256_1/bsk00_3_3.json
-rw-r--r-- 1 jovyan users 16777272 Dec 27 10:10 keys/def_80_256_1/bsk00_3_4.json
-rw-r--r-- 1 jovyan users 20971576 Dec 27 10:10 keys/def_80_256_1/bsk00_3_5.json
-rw-r--r-- 1 jovyan users 25165880 Dec 27 10:10 keys/def_80_256_1/bsk00_3_6.json
-rw-r--r-- 1 jovyan users 29360184 Dec 27 10:10 keys/def_80_256_1/bsk00_3_7.json
-rw-r--r-- 1 jovyan users 33554488 Dec 27 10:10 keys/def_80_256_1/bsk00_3_8.json
-rw-r--r-- 1 jovyan users 37748792 Dec 27 10:10 keys/def_80_256_1/bsk00_3_9.json

In [24]:
def splitter(test):
    tmp = test.split()
    tst = [tmp[8].split("/")[1]]
    tst += tmp[8].split("/")[2].split(".")[0].split("_")[1:]
    tst.append(tmp[4])
    return tst

def convert(s):
    #if np.can_cast(s, to="int"):
    #    return int(s)
    x, u, b = s[:-1], s[-1], 1000
    return float(x) * {"K":b, "M":b**2, "G":b**3}[u]

temp = subprocess.getoutput("ls -la keys/def_80_512_1/b*")
temp.split("\n")[0]
splitter(temp.split("\n")[0])

In [57]:
temp = subprocess.getoutput("ls -la keys/*/b*")

df = pd.DataFrame(
    [splitter(line) for line in temp.split("\n")], columns=["key","base log","level","file size"])
#df["file size"] = df["file size"].apply(convert)#/1e6
df["file size"] = df["file size"].apply(float)/1e6 # bytes -> MB 

#df.head()
df.pivot_table(values="file size", index=["level"], columns=["key","base log"], aggfunc="mean").round(1)

key      def_80_256_1                         def_80_512_1                \
base log            3     4     5     6     7            3      4      5
level
3                12.6  12.6  12.6  12.6  12.6         50.3   50.3   50.3
4                16.8  16.8  16.8  16.8  16.8         67.1   67.1   67.1
5                21.0  21.0  21.0  21.0  21.0         83.9   83.9   83.9
6                25.2  25.2  25.2  25.2  25.2        100.7  100.7  100.7
7                29.4  29.4  29.4  29.4  29.4        117.4  117.4  117.4
8                33.6  33.6  33.6  33.6  33.6        134.2  134.2  134.2
9                37.7  37.7  37.7  37.7  37.7        151.0  151.0  151.0

key
base log      6      7
level
3          50.3   50.3
4          67.1   67.1
5          83.9   83.9
6         100.7  100.7
7         117.4  117.4
8         134.2  134.2
9         151.0  151.0

### Size of secret keys

In [51]:
!ls -la keys/*/s*

-rw-r--r-- 1 jovyan users 2129 Dec 14 17:45 keys/def_80_1024_1/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2166 Dec 14 17:45 keys/def_80_1024_1/sk0_RLWE.json
-rw-r--r-- 1 jovyan users  582 Dec 16 10:40 keys/def_80_256_1/sk0_LWE.json
-rw-r--r-- 1 jovyan users  618 Dec 16 10:40 keys/def_80_256_1/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 1101 Dec 14 17:45 keys/def_80_512_1/sk0_LWE.json
-rw-r--r-- 1 jovyan users 1137 Dec 14 17:45 keys/def_80_512_1/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4177 Dec 14 17:45 keys/std_62_2048_1/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4214 Dec 14 17:45 keys/std_62_2048_1/sk0_RLWE.json

In [153]:
def splitter(test):
    tmp = test.split()
    tst = [tmp[8].split("/")[1]]
    tst += tmp[8].split("/")[2].split(".")[0].split("_")[1:]
    tst.append(tmp[4])
    return tst

temp = subprocess.getoutput("ls -la keys/*/s*")
temp.split("\n")[0]
splitter(temp.split("\n")[0])

['def_80_1024_1', 'LWE', '2129']

In [154]:
temp = subprocess.getoutput("ls -la keys/*/s*")

df = pd.DataFrame(
    [splitter(line) for line in temp.split("\n")], columns=["key","type","file size"])
df["file size"] = (df["file size"].apply(float)/1e3) # bytes -> kB

#df.head()
df.pivot_table(values="file size", index="type", columns=["key"]).round(1)

key   def_80_1024_1  def_80_256_1  def_80_512_1  std_62_2048_1
type
LWE             2.1           0.6           1.1            4.2
RLWE            2.2           0.6           1.1            4.2

## Time for creating secret keys

In [64]:
!cat creat_sk_keys_log.txt

create_rlwe_key keys/std_62_2048_1/sk0_RLWE.json 0 4
create_lwe_key keys/std_62_2048_1/sk0_LWE.json 0 9
create_rlwe_key keys/def_80_256_1/sk0_RLWE.json 0 5
create_lwe_key keys/def_80_256_1/sk0_LWE.json 0 5
create_rlwe_key keys/def_80_512_1/sk0_RLWE.json 0 4
create_lwe_key keys/def_80_512_1/sk0_LWE.json 0 5
create_rlwe_key keys/def_80_1024_1/sk0_RLWE.json 0 4
create_lwe_key keys/def_80_1024_1/sk0_LWE.json 0 5
create_rlwe_key keys/std_62_2048_1/sk0_RLWE.json 0 5
create_lwe_key keys/std_62_2048_1/sk0_LWE.json 0 7

In [151]:
temp = subprocess.getoutput("cat creat_sk_keys_log.txt")
#print(temp)

def splitter(test):
    tmp = test.split()
    tst = tmp[1].split("/")[1].split(".")[:1]
    tst += tmp[1].split("/")[2].split(".")[0].split("_")[1:]
    tst += tmp[-2:]
    return tst

#splitter(temp.split("\n")[0])

df = pd.DataFrame(
    [splitter(line) for line in temp.split("\n")], columns=["key","type","make time","save time"])
df["make time"] = df["make time"].apply(float) # ms
df["save time"] = df["save time"].apply(float) # ms

#df.head()
df.groupby(["key","type"]).mean().sort_index().T.round(1)

key       def_80_1024_1      def_80_256_1      def_80_512_1       \
type                LWE RLWE          LWE RLWE          LWE RLWE
make time           0.0  0.0          0.0  0.0          0.0  0.0
save time           5.0  4.0          5.0  5.0          5.0  4.0

key       std_62_2048_1
type                LWE RLWE
make time           0.0  0.0
save time           8.0  4.5

## Time for loading secret keys

In [140]:
!cat creat_bs_keys_log.txt | grep -v '^#' | grep '^load' | head

load_lwe_key keys/def_80_256_1/sk0_LWE.json 0
load_rlwe_key keys/def_80_256_1/sk0_RLWE.json 0
load_lwe_key keys/def_80_512_1/sk0_LWE.json 24
load_rlwe_key keys/def_80_512_1/sk0_RLWE.json 27
load_lwe_key keys/def_80_256_1/sk0_LWE.json 22761
load_rlwe_key keys/def_80_256_1/sk0_RLWE.json 0
load_lwe_key keys/def_80_512_1/sk0_LWE.json 0
load_rlwe_key keys/def_80_512_1/sk0_RLWE.json 0
load_lwe_key keys/def_80_256_1/sk0_LWE.json 0
load_rlwe_key keys/def_80_256_1/sk0_RLWE.json 0

In [147]:
temp = subprocess.getoutput("cat creat_bs_keys_log.txt | grep -v '^#' | grep '^load'")
#print(temp)

def splitter(test):
    tmp = test.split()
    tst = tmp[:1]
    tst += tmp[1].split("/")[1].split(".")[:1]
    #tst += tmp[1].split("/")[2].split(".")[0].split("_")[1:]
    tst += tmp[2:]
    return tst

splitter(temp.split("\n")[0])

df = pd.DataFrame(
    [splitter(line) for line in temp.split("\n")], columns=["test","key","time"])
df["time"] = df["time"].apply(float) # ms

df.head()
df.pivot_table(values="time", index=["test"], columns=["key"], aggfunc="mean").round(1)

key            def_80_256_1  def_80_512_1  std_62_2048_1
test
load_lwe_key            0.6           0.0            0.0
load_rlwe_key           0.0           0.0            0.0

## Time for creating bootstrap keys

In [148]:
!cat creat_bs_keys_log.txt | grep -v '^#' | grep -v '^load' | head

make_bs_key keys/def_80_256_1/bsk00_5_3.json 757
save_bs_key keys/def_80_256_1/bsk00_5_3.json 2001
make_bs_key keys/def_80_512_1/bsk00_5_3.json 3837
save_bs_key keys/def_80_512_1/bsk00_5_3.json 10745
make_bs_key keys/def_80_256_1/bsk00_5_3.json 926
save_bs_key keys/def_80_256_1/bsk00_5_3.json 2195
make_bs_key keys/def_80_512_1/bsk00_5_3.json 3811
save_bs_key keys/def_80_512_1/bsk00_5_3.json 8110
make_bs_key keys/def_80_256_1/bsk00_5_3.json 779
save_bs_key keys/def_80_256_1/bsk00_5_3.json 2035

In [149]:
temp = subprocess.getoutput("cat creat_bs_keys_log.txt | grep -v '^#' | grep -v '^load'")
#print(temp)

def splitter(test):
    tmp = test.split()
    tst = tmp[:1]
    tst += tmp[1].split("/")[1].split(".")[:1]
    tst += tmp[1].split("/")[2].split(".")[0].split("_")[1:]
    tst += tmp[2:]
    return tst

splitter(temp.split("\n")[0])

df = pd.DataFrame(
    [splitter(line) for line in temp.split("\n")], columns=["test","key","base log","level","time"])
#df["disk"] = df["disk"].apply(convert)/1e3
df["time"] = (df["time"].apply(float)/1e3) ## ms -> s

#df.head()
df.pivot_table(values="time", index=["test","level"], columns=["key","base log"], aggfunc="mean").round(1)

key               def_80_256_1                      def_80_512_1              \
base log                     3     4    5    6    7            3     4     5
test        level
make_bs_key 3              0.8   0.7  0.8  0.7  0.7          3.7   3.6   3.8
            4              0.9   0.9  0.9  0.9  0.9          4.8   4.8   5.0
            5              1.0   1.0  1.1  1.0  1.0          5.9   5.9   6.1
            6              1.1   1.2  1.2  1.1  1.2          7.2   7.0   7.1
            7              1.3   1.4  1.4  1.3  1.3          8.2   8.1   8.5
            8              1.5   1.5  1.5  1.5  1.5          9.2   9.2   9.8
            9              1.6   1.6  1.6  1.7  1.6         10.5  10.4  10.7
save_bs_key 3              2.0   1.9  2.1  2.0  2.0         24.3   7.9   8.9
            4              2.6   2.6  2.8  2.6  2.6         10.4  10.4  10.6
            5              3.2  13.5  3.3  3.3  3.3         13.3  13.5  13.5
            6              3.8   4.0  3.9  4.0  4.0         15.9  15.8  15.5
            7              4.6   4.5  4.6  4.7  4.6         18.4  18.4  19.6
            8              5.2   5.2  5.2  5.1  5.3         21.7  21.1  21.0
            9              5.9   6.0  6.1  6.0  5.8         23.9  23.5  34.3

key                           std_62_2048_1
base log              6     7             3      4
test        level
make_bs_key 3       3.7   3.7         204.2  201.9
            4       4.8   4.8         272.4  272.6
            5       6.0   6.0         341.7    NaN
            6       7.1   7.2         409.5    NaN
            7       8.0   8.2         479.3    NaN
            8       9.4   9.3         549.1    NaN
            9      10.4  10.3         619.3    NaN
save_bs_key 3       7.9  11.1         128.2  128.4
            4      10.6  10.4         170.9  172.0
            5      12.9  24.6         214.0    NaN
            6      15.8  16.0         256.1    NaN
            7      18.4  18.4         303.6    NaN
            8      21.3  21.3         345.8    NaN
            9      24.0  23.0         387.7    NaN

## Timing and performance stats

In [21]:
temp = !cat boot_stats.txt

for base_log in range(3,8):
    for level in range(3,10):
        #test = "keys/80_1024_1_%d_%d"%(base_log,level)
        test = "keys/std62_2048_1_%d_%d"%(base_log,level)
        if test not in [line.split()[0] for line in temp]:
            print("*"*80, "\n", test, "\n", "*"*80, "\n")
            !target/debug/test_boot $base_log $level 
            print("*"*80, "\n\n")

In [22]:
def splitter2(test):
    tmp = test.replace("NA","0").split()
    return tmp[0].split("/")[1].split("_") + [int(item) for item in tmp[1:]]

temp = !cat boot_stats.txt

[splitter2(line) for line in temp]
df2 = pd.DataFrame([splitter2(line) for line in temp], 
        columns=["bs","poly","dim","base_log","level","free", "sk_load", "bsk_load", "boot"])

df2.head()

   bs  poly dim base_log level  free  sk_load  bsk_load  boot
0  80  1024   1        5     3     5       13     22613  2893
1  80  1024   1        6     4    14       13     24416  3779
2  80  1024   1        3     3     0       19     18493  2880
3  80  1024   1        3     4     0       22     23930  3735
4  80  1024   1        3     6     8       16     35600  5067

### Number of free bits

In [23]:
df2.pivot_table(values="free", index="level", columns=["poly", "base_log"])

poly     1024                 2048
base_log    3   4   5   6   7    3   4   5   6   7
level
3           0   0   5   8  11    0   0   4   7  10
4           0   6  10  14  18    0   5   9  13  17
5           5  10  15  20  21    4   9  14  19  24
6           8  14  20  22  21    7  13  19  25  31
7          11  18  23  22  21   10  17  24  31  38
8          14  22  23  22  21   13  21  29  37  42
9          17  24  23  22  21   16  25  34  42  42

### Secret key load time

In [24]:
tmp = df2.pivot_table(values="sk_load", index="level", columns=["poly", "base_log"])
#print(tmp.mean().mean())
tmp

poly      1024                          2048
base_log     3     4     5     6     7     3     4     5     6     7
level
3         14.0   9.5  13.0   8.0  19.0  27.0  22.0  12.0   8.0  38.0
4         22.0  12.0  15.0  13.0   8.0  26.0  18.0  18.0  20.0   9.0
5         11.0   9.0  23.0   8.0  13.0  17.0  20.0  19.0  11.0  26.0
6         12.5  17.0  19.0  46.0  18.0  11.0   7.0  17.0  31.0  26.0
7         10.5  15.5  17.0  17.0   7.0   6.0  19.0  17.0  11.0  36.0
8          8.0  15.5  14.0  18.0  10.0  17.0  19.0  14.0  17.0  13.0
9          9.5  22.0  29.0  10.0   6.0  25.0  24.0  23.0  12.0   8.0

### Bootstrap key load time

In [25]:
tmp = (df2.pivot_table(values="bsk_load", index="level", columns=["poly", "base_log"])/1000.).round(1)
#print(tmp.mean(axis=1).values)
tmp

poly      1024                           2048
base_log     3     4     5     6     7      3      4      5      6      7
level
3         18.5  18.5  22.6  18.0  19.6   72.9   73.8   76.0   73.5   73.5
4         24.1  23.9  23.6  24.4  24.1  100.7   95.3   97.4   94.5   95.9
5         29.7  29.4  29.8  30.7  30.8  122.0  122.3  127.8  121.0  137.3
6         35.6  36.2  36.0  46.5  38.0  146.0  149.4  157.2  157.4  149.0
7         41.4  43.5  52.5  42.6  44.9  170.9  170.7  168.5  176.7  180.2
8         47.7  49.4  48.7  62.4  48.9  194.9  194.3  194.9  212.1  205.1
9         53.1  55.4  56.4  62.3  58.6  223.9  246.8  225.7  226.3  224.1

### Simple bootstrap time

In [27]:
tmp = (df2.pivot_table(values="boot", index="level", columns=["poly", "base_log"])/1000.).round(1)
#print(tmp.mean(axis=1).values)
tmp

poly     1024                      2048
base_log    3    4    5    6    7     3     4     5     6     7
level
3         3.0  3.0  2.9  2.9  3.0  11.7  11.9  11.7  12.0  11.9
4         3.8  3.7  3.7  3.8  3.7  14.6  14.6  15.0  14.2  15.1
5         4.4  4.4  4.4  4.6  4.4  17.6  17.5  17.7  17.5  18.2
6         5.1  5.2  5.1  5.2  5.3  20.7  20.6  20.2  20.4  21.3
7         5.9  6.1  5.8  5.9  5.9  23.3  23.5  23.4  23.4  24.3
8         6.6  6.8  6.7  6.9  6.5  26.2  26.5  26.1  26.6  26.5
9         7.3  7.3  7.7  7.4  7.7  29.4  31.4  29.9  30.9  30.2