In [184]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

import subprocess

In [215]:
key_order = ['def_80_256_1','def_80_512_1','def_80_1024_1','std_62_2048_1']

## Key size and timing stats

### Size of bootstrap keys

In [185]:
!ls -la keys/def_80_256_1/bsk00_3_*

-rw-r--r-- 1 jovyan users 12582968 Dec 27 10:10 keys/def_80_256_1/bsk00_3_3.json
-rw-r--r-- 1 jovyan users 16777272 Dec 27 10:10 keys/def_80_256_1/bsk00_3_4.json
-rw-r--r-- 1 jovyan users 20971576 Dec 27 10:10 keys/def_80_256_1/bsk00_3_5.json
-rw-r--r-- 1 jovyan users 25165880 Dec 27 10:10 keys/def_80_256_1/bsk00_3_6.json
-rw-r--r-- 1 jovyan users 29360184 Dec 27 10:10 keys/def_80_256_1/bsk00_3_7.json
-rw-r--r-- 1 jovyan users 33554488 Dec 27 10:10 keys/def_80_256_1/bsk00_3_8.json
-rw-r--r-- 1 jovyan users 37748792 Dec 27 10:10 keys/def_80_256_1/bsk00_3_9.json

In [186]:
def splitter(test):
    tmp = test.split()
    tst = [tmp[8].split("/")[1]]
    tst += tmp[8].split("/")[2].split(".")[0].split("_")[1:]
    tst.append(tmp[4])
    return tst

def convert(s):
    #if np.can_cast(s, to="int"):
    #    return int(s)
    x, u, b = s[:-1], s[-1], 1000
    return float(x) * {"K":b, "M":b**2, "G":b**3}[u]

temp = subprocess.getoutput("ls -la keys/def_80_512_1/b*")
temp.split("\n")[0]
splitter(temp.split("\n")[0])

['def_80_512_1', '3', '3', '50331704']

In [187]:
temp = subprocess.getoutput("ls -la keys/*/b*")

df = pd.DataFrame(
    [splitter(line) for line in temp.split("\n")], columns=["key","base log","level","file size"])
#df["file size"] = df["file size"].apply(convert)#/1e6
df["file size"] = df["file size"].apply(float)/1e6 # bytes -> MB 

#df.head()
df.pivot_table(values="file size", index=["level"], columns=["key","base log"], aggfunc="mean").round(1)

key      def_80_1024_1                             def_80_256_1              \
base log             3      4      5      6      7            3     4     5
level
3                201.3  201.3  201.3  201.3  201.3         12.6  12.6  12.6
4                268.4  268.4  268.4  268.4  268.4         16.8  16.8  16.8
5                335.5  335.5  335.5  335.5  335.5         21.0  21.0  21.0
6                402.7  402.7  402.7  402.7  402.7         25.2  25.2  25.2
7                469.8  469.8  469.8  469.8  469.8         29.4  29.4  29.4
8                536.9  536.9  536.9  536.9  536.9         33.6  33.6  33.6
9                604.0  604.0  604.0  604.0  604.0         37.7  37.7  37.7

key                  def_80_512_1                             std_62_2048_1  \
base log     6     7            3      4      5      6      7             3
level
3         12.6  12.6         50.3   50.3   50.3   50.3   50.3         805.3
4         16.8  16.8         67.1   67.1   67.1   67.1   67.1        1073.7
5         21.0  21.0         83.9   83.9   83.9   83.9   83.9        1342.2
6         25.2  25.2        100.7  100.7  100.7  100.7  100.7        1610.6
7         29.4  29.4        117.4  117.4  117.4  117.4  117.4        1879.0
8         33.6  33.6        134.2  134.2  134.2  134.2  134.2        2147.5
9         37.7  37.7        151.0  151.0  151.0  151.0  151.0        2415.9

key
base log       4       5       6       7
level
3          805.3   805.3   805.3   805.3
4         1073.7  1073.7  1073.7  1073.7
5         1342.2  1342.2  1342.2  1342.2
6         1610.6  1610.6  1610.6  1610.6
7         1879.0  1879.0  1879.0  1879.0
8         2147.5  2147.5  2147.5  2147.5
9         2415.9  2415.9  2415.9  2415.9

### Size of secret keys

In [188]:
!ls -la keys/*/s*

-rw-r--r-- 1 jovyan users 2129 Dec 14 17:45 keys/def_80_1024_1/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2166 Dec 14 17:45 keys/def_80_1024_1/sk0_RLWE.json
-rw-r--r-- 1 jovyan users  582 Dec 16 10:40 keys/def_80_256_1/sk0_LWE.json
-rw-r--r-- 1 jovyan users  618 Dec 16 10:40 keys/def_80_256_1/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 1101 Dec 14 17:45 keys/def_80_512_1/sk0_LWE.json
-rw-r--r-- 1 jovyan users 1137 Dec 14 17:45 keys/def_80_512_1/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4177 Dec 14 17:45 keys/std_62_2048_1/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4214 Dec 14 17:45 keys/std_62_2048_1/sk0_RLWE.json

In [189]:
def splitter(test):
    tmp = test.split()
    tst = [tmp[8].split("/")[1]]
    tst += tmp[8].split("/")[2].split(".")[0].split("_")[1:]
    tst.append(tmp[4])
    return tst

temp = subprocess.getoutput("ls -la keys/*/s*")
temp.split("\n")[0]
splitter(temp.split("\n")[0])

['def_80_1024_1', 'LWE', '2129']

In [190]:
temp = subprocess.getoutput("ls -la keys/*/s*")

df = pd.DataFrame(
    [splitter(line) for line in temp.split("\n")], columns=["key","type","file size"])
df["file size"] = (df["file size"].apply(float)/1e3) # bytes -> kB

#df.head()
df.pivot_table(values="file size", index="type", columns=["key"]).round(1)

key   def_80_1024_1  def_80_256_1  def_80_512_1  std_62_2048_1
type
LWE             2.1           0.6           1.1            4.2
RLWE            2.2           0.6           1.1            4.2

## Time for creating secret keys

In [191]:
!cat creat_sk_keys_log.txt

create_rlwe_key keys/std_62_2048_1/sk0_RLWE.json 0 4
create_lwe_key keys/std_62_2048_1/sk0_LWE.json 0 9
create_rlwe_key keys/def_80_256_1/sk0_RLWE.json 0 5
create_lwe_key keys/def_80_256_1/sk0_LWE.json 0 5
create_rlwe_key keys/def_80_512_1/sk0_RLWE.json 0 4
create_lwe_key keys/def_80_512_1/sk0_LWE.json 0 5
create_rlwe_key keys/def_80_1024_1/sk0_RLWE.json 0 4
create_lwe_key keys/def_80_1024_1/sk0_LWE.json 0 5
create_rlwe_key keys/std_62_2048_1/sk0_RLWE.json 0 5
create_lwe_key keys/std_62_2048_1/sk0_LWE.json 0 7

In [192]:
temp = subprocess.getoutput("cat creat_sk_keys_log.txt")
#print(temp)

def splitter(test):
    tmp = test.split()
    tst = tmp[1].split("/")[1].split(".")[:1]
    tst += tmp[1].split("/")[2].split(".")[0].split("_")[1:]
    tst += tmp[-2:]
    return tst

#splitter(temp.split("\n")[0])

df = pd.DataFrame(
    [splitter(line) for line in temp.split("\n")], columns=["key","type","make time","save time"])
df["make time"] = df["make time"].apply(float) # ms
df["save time"] = df["save time"].apply(float) # ms

#df.head()
df.groupby(["key","type"]).mean().sort_index().T.round(1)

key       def_80_1024_1      def_80_256_1      def_80_512_1       \
type                LWE RLWE          LWE RLWE          LWE RLWE
make time           0.0  0.0          0.0  0.0          0.0  0.0
save time           5.0  4.0          5.0  5.0          5.0  4.0

key       std_62_2048_1
type                LWE RLWE
make time           0.0  0.0
save time           8.0  4.5

## Time for loading secret keys

In [193]:
!cat creat_bs_keys_log.txt | grep -v '^#' | grep '^load' | head

load_lwe_key keys/def_80_256_1/sk0_LWE.json 0
load_rlwe_key keys/def_80_256_1/sk0_RLWE.json 0
load_lwe_key keys/def_80_512_1/sk0_LWE.json 24
load_rlwe_key keys/def_80_512_1/sk0_RLWE.json 27
load_lwe_key keys/def_80_256_1/sk0_LWE.json 22761
load_rlwe_key keys/def_80_256_1/sk0_RLWE.json 0
load_lwe_key keys/def_80_512_1/sk0_LWE.json 0
load_rlwe_key keys/def_80_512_1/sk0_RLWE.json 0
load_lwe_key keys/def_80_256_1/sk0_LWE.json 0
load_rlwe_key keys/def_80_256_1/sk0_RLWE.json 0
grep: write error: Broken pipe

In [194]:
temp = subprocess.getoutput("cat creat_bs_keys_log.txt | grep -v '^#' | grep '^load'")
#print(temp)

def splitter(test):
    tmp = test.split()
    tst = tmp[:1]
    tst += tmp[1].split("/")[1].split(".")[:1]
    #tst += tmp[1].split("/")[2].split(".")[0].split("_")[1:]
    tst += tmp[2:]
    return tst

splitter(temp.split("\n")[0])

df = pd.DataFrame(
    [splitter(line) for line in temp.split("\n")], columns=["test","key","time"])
df["time"] = df["time"].apply(float) # ms

df.head()
df.pivot_table(values="time", index=["test"], columns=["key"], aggfunc="mean").round(1)

key            def_80_1024_1  def_80_256_1  def_80_512_1  std_62_2048_1
test
load_lwe_key             0.4         615.7           1.2            0.5
load_rlwe_key            0.4           0.4           1.3            0.3

## Time for creating bootstrap keys

In [195]:
!cat creat_bs_keys_log.txt | grep -v '^#' | grep -v '^load' | head

make_bs_key keys/def_80_256_1/bsk00_5_3.json 757
save_bs_key keys/def_80_256_1/bsk00_5_3.json 2001
make_bs_key keys/def_80_512_1/bsk00_5_3.json 3837
save_bs_key keys/def_80_512_1/bsk00_5_3.json 10745
make_bs_key keys/def_80_256_1/bsk00_5_3.json 926
save_bs_key keys/def_80_256_1/bsk00_5_3.json 2195
make_bs_key keys/def_80_512_1/bsk00_5_3.json 3811
save_bs_key keys/def_80_512_1/bsk00_5_3.json 8110
make_bs_key keys/def_80_256_1/bsk00_5_3.json 779
save_bs_key keys/def_80_256_1/bsk00_5_3.json 2035

In [196]:
temp = subprocess.getoutput("cat creat_bs_keys_log.txt | grep -v '^#' | grep -v '^load'")
#print(temp)

def splitter(test):
    tmp = test.split()
    tst = tmp[:1]
    tst += tmp[1].split("/")[1].split(".")[:1]
    tst += tmp[1].split("/")[2].split(".")[0].split("_")[1:]
    tst += tmp[2:]
    return tst

splitter(temp.split("\n")[0])

df = pd.DataFrame(
    [splitter(line) for line in temp.split("\n")], columns=["test","key","base log","level","time"])
#df["disk"] = df["disk"].apply(convert)/1e3
df["time"] = (df["time"].apply(float)/1e3) ## ms -> s

#df.head()
df.pivot_table(values="time", index=["test","level"], columns=["key","base log"], aggfunc="mean").round(1)

key               def_80_1024_1                         def_80_256_1        \
base log                      3     4     5     6     7            3     4
test        level
make_bs_key 3              26.4  25.9  26.0  25.6  26.0          0.8   0.7
            4              34.7  34.5  34.6  34.7  34.3          0.9   0.9
            5              42.8  43.7  42.5  42.7  43.5          1.0   1.0
            6              52.3  51.5  52.6  51.2  52.5          1.1   1.2
            7              61.0  59.7  60.1  60.8  60.7          1.3   1.4
            8              69.2  67.7  68.9  69.5  68.8          1.5   1.5
            9              77.8  77.5  77.8  78.2  77.2          1.6   1.6
save_bs_key 3              31.9  31.4  49.7  31.6  31.8          2.0   1.9
            4              41.8  42.0  42.5  42.0  53.4          2.6   2.6
            5              53.2  53.5  54.4  53.5  53.4          3.2  13.5
            6              63.8  63.7  65.2  65.3  64.3          3.8   4.0
            7              74.2  74.8  74.6  87.8  75.1          4.6   4.5
            8              87.1  95.4  86.9  87.3  86.7          5.2   5.2
            9              96.8  96.9  99.2  97.5  97.4          5.9   6.0

key                              def_80_512_1                          \
base log             5    6    7            3     4     5     6     7
test        level
make_bs_key 3      0.8  0.7  0.7          3.7   3.6   3.8   3.7   3.7
            4      0.9  0.9  0.9          4.8   4.8   5.0   4.8   4.8
            5      1.1  1.0  1.0          5.9   5.9   6.1   6.0   6.0
            6      1.2  1.1  1.2          7.2   7.0   7.1   7.1   7.2
            7      1.4  1.3  1.3          8.2   8.1   8.5   8.0   8.2
            8      1.5  1.5  1.5          9.2   9.2   9.8   9.4   9.3
            9      1.6  1.7  1.6         10.5  10.4  10.7  10.4  10.3
save_bs_key 3      2.1  2.0  2.0         24.3   7.9   8.9   7.9  11.1
            4      2.8  2.6  2.6         10.4  10.4  10.6  10.6  10.4
            5      3.3  3.3  3.3         13.3  13.5  13.5  12.9  24.6
            6      3.9  4.0  4.0         15.9  15.8  15.5  15.8  16.0
            7      4.6  4.7  4.6         18.4  18.4  19.6  18.4  18.4
            8      5.2  5.1  5.3         21.7  21.1  21.0  21.3  21.3
            9      6.1  6.0  5.8         23.9  23.5  34.3  24.0  23.0

key               std_62_2048_1
base log                      3      4      5      6      7
test        level
make_bs_key 3             204.2  201.9  206.1  202.2  205.8
            4             272.4  272.6  274.7  269.7  275.4
            5             341.7  340.3  338.1  342.8  345.6
            6             409.5  411.4  409.5  413.9  405.8
            7             479.3  481.3  474.0  474.1  480.5
            8             549.1  539.1  552.2  555.6  551.8
            9             619.3  623.4  625.3  613.9  618.2
save_bs_key 3             128.2  128.4  129.5  126.9  128.7
            4             170.9  172.0  179.1  170.5  172.2
            5             214.0  211.2  220.5  215.9  219.5
            6             256.1  255.9  258.1  259.4  260.7
            7             303.6  300.9  328.2  324.6  305.7
            8             345.8  350.7  351.8  352.7  342.8
            9             387.7  394.0  391.4  399.8  388.9

## Timing and precision for addition tree

In [198]:
!tail add_tree_log.txt

# output: sk0_path, prec, padd, lower, upper, value, 
# times, load_time, enc_time, add_time, dec_time, answer

keys/std_62_2048_1/sk0_LWE.json 55 5 -1 1 0 32 327 252 1549 12 0
keys/std_62_2048_1/sk0_LWE.json 54 6 -1 1 0 64 320 123 1889 6 0
keys/def_80_256_1/sk0_LWE.json 2 5 -1 1 0 32 119 38 306 3 -0.6536691756580808
keys/def_80_256_1/sk0_LWE.json 1 6 -1 1 0 64 113 33 629 3 2.296842253562275
keys/def_80_512_1/sk0_LWE.json 12 5 -1 1 0 32 145 67 445 3 -0.0005551665903134051
keys/def_80_512_1/sk0_LWE.json 11 6 -1 1 0 64 147 61 886 4 0.0016767929573830997
keys/def_80_1024_1/sk0_LWE.json 33 5 -1 1 0 32 205 130 813 7 0.0000000002547935196162143
keys/def_80_1024_1/sk0_LWE.json 32 6 -1 1 0 64 205 118 1473 6 0.00000000029048408123344416
keys/std_62_2048_1/sk0_LWE.json 55 5 -1 1 0 32 321 253 1514 12 0
keys/std_62_2048_1/sk0_LWE.json 54 6 -1 1 0 64 330 126 1927 6 0

In [232]:
temp = subprocess.getoutput("cat add_tree_log.txt")
# print(temp)

def splitter(test):
    tmp = test.split()
    tst = tmp[0].split("/")[1:2]
    tst += tmp[1:]
    return tst

#len(splitter(temp.split("\n")[0]))

df_add = pd.DataFrame([splitter(line) for line in temp.split("\n")], 
        columns=["key", "prec", "padd", "lower", "upper", "value", "times",
                 "load_time", "enc_time", "add_time", "dec_time", "answer"]) 
df_add["answer"] = df_add["answer"].apply(float)
df_add["times"] = df_add["times"].apply(int)
df_add["add_time"] = df_add["add_time"].apply(float)
df_add["one time"] = df_add["add_time"]/(df_add["times"]-1)

df_add.head()

,key,prec,padd,lower,upper,value,times,load_time,enc_time,add_time,dec_time,answer,one time
0,def_80_256_1,2,1,-1,1,0,2,14036,17,9.0,1,0.017885,9.000000
1,def_80_256_1,2,2,-1,1,0,4,131,33,35.0,2,-0.041357,11.666667
2,def_80_256_1,2,3,-1,1,0,8,120,34,70.0,2,-0.003264,10.000000
3,def_80_256_1,2,4,-1,1,0,16,104,32,123.0,2,-0.531718,8.200000
4,std_62_2048_1,2,1,-1,1,0,2,406,281,109.0,15,0.000000,109.000000

In [233]:
# addera: answer mean value

(df_add.pivot_table(values="answer", index=["key"], columns=["times"], aggfunc="mean").round(6)
        .sort_index(axis=1).loc[key_order])

times                2         4         8         16        32        64
key
def_80_256_1   0.000805 -0.001343  0.003108 -0.039673  0.134704 -1.128536
def_80_512_1   0.000002  0.000004 -0.000014  0.000019 -0.000021 -0.000385
def_80_1024_1  0.000000 -0.000000  0.000000  0.000000  0.000000  0.000000
std_62_2048_1  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000

In [234]:
# addera: answer std 

(df_add.pivot_table(values="answer", index=["key"], columns=["times"], aggfunc="std").round(6)
        .sort_index(axis=1).loc[key_order])

times                2         4        8         16        32        64
key
def_80_256_1   0.014141  0.036976  0.11827  0.321566  0.797186  3.771476
def_80_512_1   0.000014  0.000039  0.00013  0.000302  0.000820  0.001995
def_80_1024_1  0.000000  0.000000  0.00000  0.000000  0.000000  0.000000
std_62_2048_1  0.000000  0.000000  0.00000  0.000000  0.000000  0.000000

In [235]:
# addera: timing of tree 

(df_add.pivot_table(values="add_time", index=["key"], columns=["times"], aggfunc="mean").round(1)
        .sort_index(axis=1).loc[key_order])

times            2      4      8      16      32      64
key
def_80_256_1   12.8   32.7   67.3  137.0   306.3   628.8
def_80_512_1   23.4   55.1  106.2  220.4   462.6   923.0
def_80_1024_1  45.6   94.6  208.1  417.6   812.1  1629.4
std_62_2048_1  82.5  194.6  394.5  848.7  1435.3  2189.8

In [236]:
# addera: mean time of single addition 

(df_add.pivot_table(values="one time", index=["key"], columns=["times"], aggfunc="mean").round(1)
        .sort_index(axis=1).loc[key_order])

times            2     4     8     16    32    64
key
def_80_256_1   12.8  10.9   9.6   9.1   9.9  10.0
def_80_512_1   23.4  18.4  15.2  14.7  14.9  14.7
def_80_1024_1  45.6  31.5  29.7  27.8  26.2  25.9
std_62_2048_1  82.5  64.9  56.4  56.6  46.3  34.8

### Timing and precision for integer multiplication tree

In [250]:
!tail mul_tree_log.txt

# output: sk0_path, prec, padd, lower, upper, value, 
# base2, mult, load_time, enc_time, add_time, dec_time, answer

keys/def_80_1024_1/sk0_LWE.json 35 3 0 2 1 8 4 194 335 110 8 3.9999999999498783
keys/def_80_1024_1/sk0_LWE.json 34 4 0 2 1 16 8 199 345 181 7 7.999999999939163
keys/def_80_1024_1/sk0_LWE.json 33 5 0 2 1 32 16 184 317 281 7 16.000000000333483
keys/def_80_1024_1/sk0_LWE.json 32 6 0 2 1 64 32 194 343 537 7 31.999999992407382
keys/std_62_2048_1/sk0_LWE.json 59 1 0 2 1 2 1 317 662 82 14 1
keys/std_62_2048_1/sk0_LWE.json 58 2 0 2 1 4 2 322 611 132 13 2
keys/std_62_2048_1/sk0_LWE.json 57 3 0 2 1 8 4 334 560 210 12 4
keys/std_62_2048_1/sk0_LWE.json 56 4 0 2 1 16 8 361 611 365 13 8
keys/std_62_2048_1/sk0_LWE.json 55 5 0 2 1 32 16 286 545 555 12 16
keys/std_62_2048_1/sk0_LWE.json 54 6 0 2 1 64 32 353 622 1085 13 32

In [251]:
temp = subprocess.getoutput("cat mul_tree_log.txt")
# print(temp)

def splitter(test):
    tmp = test.split()
    tst = tmp[0].split("/")[1:2]
    tst += tmp[1:]
    return tst

#len(splitter(temp.split("\n")[0]))

df_mul = pd.DataFrame([splitter(line) for line in temp.split("\n")], 
    columns=["key", "prec", "padd", "lower", "upper", "value", "base2", "mult",
                 "load_time", "enc_time", "mul_time", "dec_time", "answer"]) 
df_mul["answer"] = df_mul["answer"].apply(float)
df_mul["base2"] = df_mul["base2"].apply(int)
df_mul["mul_time"] = df_mul["mul_time"].apply(float)

df_mul.head()

,key,prec,padd,lower,upper,value,base2,mult,load_time,enc_time,mul_time,dec_time,answer
0,def_80_256_1,6,1,0,2,1,2,1,121,153,15.0,3,0.986908
1,def_80_256_1,5,2,0,2,1,4,2,122,157,20.0,2,2.022192
2,def_80_256_1,4,3,0,2,1,8,4,114,155,36.0,3,3.950017
3,def_80_256_1,3,4,0,2,1,16,8,114,146,55.0,2,7.764319
4,def_80_256_1,2,5,0,2,1,32,16,114,149,100.0,3,7.452786

In [252]:
# mul: answer mean value

(df_mul.pivot_table(values="answer", index=["key"], columns=["base2"], aggfunc="mean").round(6)
        .sort_index(axis=1).loc[key_order])

base2                2         4         8         16         32         64
key
def_80_256_1   1.000574  1.997973  3.997894  7.979568  15.666238  31.953346
def_80_512_1   1.000001  2.000006  4.000000  8.000051  16.000399  31.999382
def_80_1024_1  1.000000  2.000000  4.000000  8.000000  16.000000  32.000000
std_62_2048_1  1.000000  2.000000  4.000000  8.000000  16.000000  32.000000

In [253]:
# mul: answer std value

(df_mul.pivot_table(values="answer", index=["key"], columns=["base2"], aggfunc="std").round(6)
        .sort_index(axis=1).loc[key_order])

base2                2         4         8         16        32         64
key
def_80_256_1   0.010312  0.043480  0.178826  0.816386  4.213142  18.804249
def_80_512_1   0.000011  0.000045  0.000167  0.000657  0.002956   0.012201
def_80_1024_1  0.000000  0.000000  0.000000  0.000000  0.000000   0.000000
std_62_2048_1  0.000000  0.000000  0.000000  0.000000  0.000000   0.000000

In [254]:
# mult: timing of tree 

(df_mul.pivot_table(values="mul_time", index=["key"], columns=["base2"], aggfunc="mean").round(1)
        .sort_index(axis=1).loc[key_order])

base2            2      4      8      16     32      64
key
def_80_256_1   11.2   17.7   33.4   54.0   97.1   166.4
def_80_512_1   20.8   35.8   56.6   91.1  161.1   286.5
def_80_1024_1  41.9   66.5  107.4  171.4  291.5   520.5
std_62_2048_1  77.6  125.9  213.3  354.5  566.8  1035.1

### Timing and precision for real number multiplication

In [255]:
!tail mul_real_log.txt

# sk_path prec padd lower upper value mult max_mult, 
# load_time, enc_time, add_time, dec_time, answer

keys/def_80_512_1/sk0_LWE.json 1 4 -1 1 0.5 5 16 115 116 13 3 2.499724632512006
keys/def_80_512_1/sk0_LWE.json 2 4 -1 1 0.5 5 16 117 110 13 3 2.5002641692665115
keys/def_80_512_1/sk0_LWE.json 3 4 -1 1 0.5 5 16 141 141 16 3 2.500068600081999
keys/def_80_512_1/sk0_LWE.json 4 4 -1 1 0.5 5 16 139 138 16 3 2.500269161409328
keys/def_80_512_1/sk0_LWE.json 5 4 -1 1 0.5 5 16 144 147 15 3 2.5829537533643183
keys/def_80_512_1/sk0_LWE.json 6 4 -1 1 0.5 5 16 117 117 12 3 2.6249867872483996
keys/def_80_512_1/sk0_LWE.json 1 5 -1 1 0.5 5 16 140 146 16 3 2.5013580217685494
keys/def_80_512_1/sk0_LWE.json 2 5 -1 1 0.5 5 16 128 117 15 3 2.4982298236942775
keys/def_80_512_1/sk0_LWE.json 3 5 -1 1 0.5 5 16 138 133 16 3 2.5007442754037434
keys/def_80_512_1/sk0_LWE.json 4 5 -1 1 0.5 5 16 140 143 16 3 2.500778385008676

In [271]:
temp = subprocess.getoutput("cat mul_real_log.txt")
# print(temp)

def splitter(test):
    tmp = test.split()
    tst = tmp[0].split("/")[1:2]
    tst += tmp[1:]
    return tst

#len(splitter(temp.split("\n")[0]))

df = pd.DataFrame([splitter(line) for line in temp.split("\n")], 
    columns=["key", "prec", "padd", "lower", "upper", "value", "mult", "max_mult",
                 "load_time", "enc_time", "mul_time", "dec_time", "answer"]) 
df["answer"] = df["answer"].apply(float)
df["padd"] = df["padd"].apply(int)
df["prec"] = df["prec"].apply(int)
df["mul_time"] = df["mul_time"].apply(float)
df_mulr = df[(df.padd>1)&(df.prec>1)].copy()

df_mulr.head()

,key,prec,padd,lower,upper,value,mult,max_mult,load_time,enc_time,mul_time,dec_time,answer
5,def_80_256_1,2,2,-1,1,0.5,5,16,115,108,9.0,2,2.096313
6,def_80_256_1,3,2,-1,1,0.5,5,16,115,122,9.0,2,2.316911
7,def_80_256_1,4,2,-1,1,0.5,5,16,116,109,9.0,2,2.575347
9,def_80_256_1,2,3,-1,1,0.5,5,16,105,99,8.0,2,2.838050
10,def_80_256_1,3,3,-1,1,0.5,5,16,114,122,9.0,2,3.395109

In [272]:
# mul: answer mean value

(df_mulr.pivot_table(values="answer", index=["key","prec"], columns=["padd"], aggfunc="mean").round(3)
        .sort_index(axis=1).loc[key_order]).T

key  def_80_256_1               def_80_512_1                              \
prec            2      3      4            2      3      4      5      6
padd
2           2.002  2.332  2.502          2.0  2.333  2.500  2.583  2.625
3           2.989  3.013    NaN          3.0  3.000  3.214  3.321  3.375
4           2.565    NaN    NaN          2.5  2.500  2.500  2.583  2.625
5             NaN    NaN    NaN          2.5  2.500  2.500  2.500  2.540
6             NaN    NaN    NaN          2.5  2.500  2.500  2.500  2.500

key  def_80_1024_1                             std_62_2048_1                \
prec             2      3      4      5      6             2      3      4
padd
2              2.0  2.333  2.500  2.583  2.625           2.0  2.333  2.500
3              3.0  3.000  3.214  3.321  3.375           3.0  3.000  3.214
4              2.5  2.500  2.500  2.583  2.625           2.5  2.500  2.500
5              2.5  2.500  2.500  2.500  2.540           2.5  2.500  2.500
6              2.5  2.500  2.500  2.500  2.500           2.5  2.500  2.500

key
prec      5      6
padd
2     2.583  2.625
3     3.321  3.375
4     2.583  2.625
5     2.500  2.540
6     2.500  2.500

In [273]:
# mul: answer std value

(df_mulr.pivot_table(values="answer", index=["key","prec"], columns=["padd"], aggfunc="std").round(3)
        .sort_index(axis=1).loc[key_order]).T

key  def_80_256_1               def_80_512_1                              \
prec            2      3      4            2      3      4      5      6
padd
2           0.086  0.080  0.084        0.000  0.000  0.000  0.000  0.000
3           0.215  0.213    NaN        0.000  0.000  0.000  0.000  0.000
4           0.501    NaN    NaN        0.000  0.000  0.000  0.000  0.000
5             NaN    NaN    NaN        0.001  0.001  0.001  0.001  0.001
6             NaN    NaN    NaN        0.002  0.001  0.001  0.001  0.001

key  def_80_1024_1                     std_62_2048_1
prec             2    3    4    5    6             2    3    4    5    6
padd
2              0.0  0.0  0.0  0.0  0.0           0.0  0.0  0.0  0.0  0.0
3              0.0  0.0  0.0  0.0  0.0           0.0  0.0  0.0  0.0  0.0
4              0.0  0.0  0.0  0.0  0.0           0.0  0.0  0.0  0.0  0.0
5              0.0  0.0  0.0  0.0  0.0           0.0  0.0  0.0  0.0  0.0
6              0.0  0.0  0.0  0.0  0.0           0.0  0.0  0.0  0.0  0.0

In [275]:
# mult: timing of tree 

(df_mulr.pivot_table(values="mul_time", index=["key"], columns=["padd"], aggfunc="mean").round(3)
        .sort_index(axis=1).loc[key_order]).T

key   def_80_256_1  def_80_512_1  def_80_1024_1  std_62_2048_1
padd
2            8.683        15.346         23.652         42.800
3            8.750        15.534         23.956         43.202
4            9.610        15.402         23.694         43.166
5              NaN        15.232         23.674         43.384
6              NaN        15.164         24.444         43.080

## Timing and performance stats

In [21]:
temp = !cat boot_stats.txt

for base_log in range(3,8):
    for level in range(3,10):
        #test = "keys/80_1024_1_%d_%d"%(base_log,level)
        test = "keys/std62_2048_1_%d_%d"%(base_log,level)
        if test not in [line.split()[0] for line in temp]:
            print("*"*80, "\n", test, "\n", "*"*80, "\n")
            !target/debug/test_boot $base_log $level 
            print("*"*80, "\n\n")

In [22]:
def splitter2(test):
    tmp = test.replace("NA","0").split()
    return tmp[0].split("/")[1].split("_") + [int(item) for item in tmp[1:]]

temp = !cat boot_stats.txt

[splitter2(line) for line in temp]
df2 = pd.DataFrame([splitter2(line) for line in temp], 
        columns=["bs","poly","dim","base_log","level","free", "sk_load", "bsk_load", "boot"])

df2.head()

   bs  poly dim base_log level  free  sk_load  bsk_load  boot
0  80  1024   1        5     3     5       13     22613  2893
1  80  1024   1        6     4    14       13     24416  3779
2  80  1024   1        3     3     0       19     18493  2880
3  80  1024   1        3     4     0       22     23930  3735
4  80  1024   1        3     6     8       16     35600  5067

### Number of free bits

In [23]:
df2.pivot_table(values="free", index="level", columns=["poly", "base_log"])

poly     1024                 2048
base_log    3   4   5   6   7    3   4   5   6   7
level
3           0   0   5   8  11    0   0   4   7  10
4           0   6  10  14  18    0   5   9  13  17
5           5  10  15  20  21    4   9  14  19  24
6           8  14  20  22  21    7  13  19  25  31
7          11  18  23  22  21   10  17  24  31  38
8          14  22  23  22  21   13  21  29  37  42
9          17  24  23  22  21   16  25  34  42  42

### Secret key load time

In [24]:
tmp = df2.pivot_table(values="sk_load", index="level", columns=["poly", "base_log"])
#print(tmp.mean().mean())
tmp

poly      1024                          2048
base_log     3     4     5     6     7     3     4     5     6     7
level
3         14.0   9.5  13.0   8.0  19.0  27.0  22.0  12.0   8.0  38.0
4         22.0  12.0  15.0  13.0   8.0  26.0  18.0  18.0  20.0   9.0
5         11.0   9.0  23.0   8.0  13.0  17.0  20.0  19.0  11.0  26.0
6         12.5  17.0  19.0  46.0  18.0  11.0   7.0  17.0  31.0  26.0
7         10.5  15.5  17.0  17.0   7.0   6.0  19.0  17.0  11.0  36.0
8          8.0  15.5  14.0  18.0  10.0  17.0  19.0  14.0  17.0  13.0
9          9.5  22.0  29.0  10.0   6.0  25.0  24.0  23.0  12.0   8.0

### Bootstrap key load time

In [25]:
tmp = (df2.pivot_table(values="bsk_load", index="level", columns=["poly", "base_log"])/1000.).round(1)
#print(tmp.mean(axis=1).values)
tmp

poly      1024                           2048
base_log     3     4     5     6     7      3      4      5      6      7
level
3         18.5  18.5  22.6  18.0  19.6   72.9   73.8   76.0   73.5   73.5
4         24.1  23.9  23.6  24.4  24.1  100.7   95.3   97.4   94.5   95.9
5         29.7  29.4  29.8  30.7  30.8  122.0  122.3  127.8  121.0  137.3
6         35.6  36.2  36.0  46.5  38.0  146.0  149.4  157.2  157.4  149.0
7         41.4  43.5  52.5  42.6  44.9  170.9  170.7  168.5  176.7  180.2
8         47.7  49.4  48.7  62.4  48.9  194.9  194.3  194.9  212.1  205.1
9         53.1  55.4  56.4  62.3  58.6  223.9  246.8  225.7  226.3  224.1

### Simple bootstrap time

In [27]:
tmp = (df2.pivot_table(values="boot", index="level", columns=["poly", "base_log"])/1000.).round(1)
#print(tmp.mean(axis=1).values)
tmp

poly     1024                      2048
base_log    3    4    5    6    7     3     4     5     6     7
level
3         3.0  3.0  2.9  2.9  3.0  11.7  11.9  11.7  12.0  11.9
4         3.8  3.7  3.7  3.8  3.7  14.6  14.6  15.0  14.2  15.1
5         4.4  4.4  4.4  4.6  4.4  17.6  17.5  17.7  17.5  18.2
6         5.1  5.2  5.1  5.2  5.3  20.7  20.6  20.2  20.4  21.3
7         5.9  6.1  5.8  5.9  5.9  23.3  23.5  23.4  23.4  24.3
8         6.6  6.8  6.7  6.9  6.5  26.2  26.5  26.1  26.6  26.5
9         7.3  7.3  7.7  7.4  7.7  29.4  31.4  29.9  30.9  30.2