In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

import subprocess

## Key Size

In [9]:
def splitter(test):
    tmp = test.split()
    tst = [tmp[4]]
    tst += tmp[8].split("/")[1].split("_")
    return tst

def convert(s):
    #if np.can_cast(s, to="int"):
    #    return int(s)
    x, u, b = s[:-1], s[-1], 1000
    return float(x) * {"K":b, "M":b**2, "G":b**3}[u]

### Size of bootstrap keys

In [23]:
temp = subprocess.getoutput("ls -lah keys/80_1024*/b*") + "\n" \
     + subprocess.getoutput("ls -lah keys/std62_2048*/b*")

df = pd.DataFrame(
    [splitter(line) for line in temp.split("\n")], columns=["disk","bs","poly","dim","base_log","level"])
df["disk"] = df["disk"].apply(convert)/1e6

#df.head()
df.pivot_table(values="disk", index="level", columns=["poly", "base_log"], aggfunc="mean")

poly       1024                                2048                          \
base_log      3      4      5      6      7       3       4       5       6
level
3           NaN    NaN  193.0  193.0  193.0   769.0   769.0   769.0   769.0
4           NaN  257.0  257.0  257.0  257.0  1100.0  1100.0  1100.0  1100.0
5         321.0  321.0  321.0  321.0  321.0  1300.0  1300.0  1300.0  1300.0
6         385.0  385.0  385.0  385.0  385.0  1600.0  1600.0  1600.0  1600.0
7         449.0  449.0  449.0  449.0  449.0  1800.0  1800.0  1800.0  1800.0
8         513.0  513.0  513.0  513.0  513.0  2100.0  2100.0  2100.0  2100.0
9         577.0  577.0  577.0  577.0  577.0  2300.0  2300.0  2300.0  2300.0

poly
base_log       7
level
3          769.0
4         1100.0
5         1300.0
6         1600.0
7         1800.0
8         2100.0
9         2300.0

### Size of secret keys

In [28]:
print(temp)

-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_3_5/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_3_5/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_3_6/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_3_6/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_3_7/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_3_7/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_3_8/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_3_8/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_3_9/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_3_9/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_4_4/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_4_4/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_4_5/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_4_5/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_4_6/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_4_6/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_4_7/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_4_7/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_4_8/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_4_8/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_4_9/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_4_9/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  5  2022 keys/80_1024_1_5_3/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  5  2022 keys/80_1024_1_5_3/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_5_4/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_5_4/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_5_5/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_5_5/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_5_6/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_5_6/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_5_7/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_5_7/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_5_8/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_5_8/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_5_9/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_5_9/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_6_3/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_6_3/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_6_4/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_6_4/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_6_5/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_6_5/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_6_6/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_6_6/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_6_7/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_6_7/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_6_8/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_6_8/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_6_9/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_6_9/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_7_3/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_7_3/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_7_4/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_7_4/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_7_5/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_7_5/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_7_6/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_7_6/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_7_7/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_7_7/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_7_8/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_7_8/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 2.1K Jan  6  2022 keys/80_1024_1_7_9/sk0_LWE.json
-rw-r--r-- 1 jovyan users 2.2K Jan  6  2022 keys/80_1024_1_7_9/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_3_3/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_3_3/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_3_4/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_3_4/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_3_5/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_3_5/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_3_6/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_3_6/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_3_7/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_3_7/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_3_8/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_3_8/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  8  2022 keys/std62_2048_1_3_9/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  8  2022 keys/std62_2048_1_3_9/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_4_3/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_4_3/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_4_4/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_4_4/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_4_5/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_4_5/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_4_6/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_4_6/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_4_7/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_4_7/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_4_8/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_4_8/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  8  2022 keys/std62_2048_1_4_9/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  8  2022 keys/std62_2048_1_4_9/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_5_3/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_5_3/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_5_4/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_5_4/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_5_5/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_5_5/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_5_6/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_5_6/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_5_7/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_5_7/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_5_8/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_5_8/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  8  2022 keys/std62_2048_1_5_9/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  8  2022 keys/std62_2048_1_5_9/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_6_3/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_6_3/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_6_4/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_6_4/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_6_5/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_6_5/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_6_6/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_6_6/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_6_7/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_6_7/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  7  2022 keys/std62_2048_1_6_8/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  7  2022 keys/std62_2048_1_6_8/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  8  2022 keys/std62_2048_1_6_9/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  8  2022 keys/std62_2048_1_6_9/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  8  2022 keys/std62_2048_1_7_3/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  8  2022 keys/std62_2048_1_7_3/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  8  2022 keys/std62_2048_1_7_4/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  8  2022 keys/std62_2048_1_7_4/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  8  2022 keys/std62_2048_1_7_5/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  8  2022 keys/std62_2048_1_7_5/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  8  2022 keys/std62_2048_1_7_6/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  8  2022 keys/std62_2048_1_7_6/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  8  2022 keys/std62_2048_1_7_7/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  8  2022 keys/std62_2048_1_7_7/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  8  2022 keys/std62_2048_1_7_8/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  8  2022 keys/std62_2048_1_7_8/sk0_RLWE.json
-rw-r--r-- 1 jovyan users 4.1K Jan  8  2022 keys/std62_2048_1_7_9/sk0_LWE.json
-rw-r--r-- 1 jovyan users 4.2K Jan  8  2022 keys/std62_2048_1_7_9/sk0_RLWE.json

In [26]:
temp = subprocess.getoutput("ls -lah keys/80_1024*/sk*") + "\n" \
     + subprocess.getoutput("ls -lah keys/std62_2048*/sk*")

df = pd.DataFrame(
    [splitter(line) for line in temp.split("\n")], columns=["disk","bs","poly","dim","base_log","level"])
df["disk"] = df["disk"].apply(convert)/1e3

#df.head()
df.pivot_table(values="disk", index="level", columns=["poly", "base_log"])

poly      1024                          2048
base_log     3     4     5     6     7     3     4     5     6     7
level
3          NaN   NaN  2.15  2.15  2.15  4.15  4.15  4.15  4.15  4.15
4          NaN  2.15  2.15  2.15  2.15  4.15  4.15  4.15  4.15  4.15
5         2.15  2.15  2.15  2.15  2.15  4.15  4.15  4.15  4.15  4.15
6         2.15  2.15  2.15  2.15  2.15  4.15  4.15  4.15  4.15  4.15
7         2.15  2.15  2.15  2.15  2.15  4.15  4.15  4.15  4.15  4.15
8         2.15  2.15  2.15  2.15  2.15  4.15  4.15  4.15  4.15  4.15
9         2.15  2.15  2.15  2.15  2.15  4.15  4.15  4.15  4.15  4.15

## Timing and performance stats

In [21]:
temp = !cat boot_stats.txt

for base_log in range(3,8):
    for level in range(3,10):
        #test = "keys/80_1024_1_%d_%d"%(base_log,level)
        test = "keys/std62_2048_1_%d_%d"%(base_log,level)
        if test not in [line.split()[0] for line in temp]:
            print("*"*80, "\n", test, "\n", "*"*80, "\n")
            !target/debug/test_boot $base_log $level 
            print("*"*80, "\n\n")

In [22]:
def splitter2(test):
    tmp = test.replace("NA","0").split()
    return tmp[0].split("/")[1].split("_") + [int(item) for item in tmp[1:]]

temp = !cat boot_stats.txt

[splitter2(line) for line in temp]
df2 = pd.DataFrame([splitter2(line) for line in temp], 
        columns=["bs","poly","dim","base_log","level","free", "sk_load", "bsk_load", "boot"])

df2.head()

   bs  poly dim base_log level  free  sk_load  bsk_load  boot
0  80  1024   1        5     3     5       13     22613  2893
1  80  1024   1        6     4    14       13     24416  3779
2  80  1024   1        3     3     0       19     18493  2880
3  80  1024   1        3     4     0       22     23930  3735
4  80  1024   1        3     6     8       16     35600  5067

### Number of free bits

In [23]:
df2.pivot_table(values="free", index="level", columns=["poly", "base_log"])

poly     1024                 2048
base_log    3   4   5   6   7    3   4   5   6   7
level
3           0   0   5   8  11    0   0   4   7  10
4           0   6  10  14  18    0   5   9  13  17
5           5  10  15  20  21    4   9  14  19  24
6           8  14  20  22  21    7  13  19  25  31
7          11  18  23  22  21   10  17  24  31  38
8          14  22  23  22  21   13  21  29  37  42
9          17  24  23  22  21   16  25  34  42  42

### Secret key load time

In [24]:
tmp = df2.pivot_table(values="sk_load", index="level", columns=["poly", "base_log"])
#print(tmp.mean().mean())
tmp

poly      1024                          2048
base_log     3     4     5     6     7     3     4     5     6     7
level
3         14.0   9.5  13.0   8.0  19.0  27.0  22.0  12.0   8.0  38.0
4         22.0  12.0  15.0  13.0   8.0  26.0  18.0  18.0  20.0   9.0
5         11.0   9.0  23.0   8.0  13.0  17.0  20.0  19.0  11.0  26.0
6         12.5  17.0  19.0  46.0  18.0  11.0   7.0  17.0  31.0  26.0
7         10.5  15.5  17.0  17.0   7.0   6.0  19.0  17.0  11.0  36.0
8          8.0  15.5  14.0  18.0  10.0  17.0  19.0  14.0  17.0  13.0
9          9.5  22.0  29.0  10.0   6.0  25.0  24.0  23.0  12.0   8.0

### Bootstrap key load time

In [25]:
tmp = (df2.pivot_table(values="bsk_load", index="level", columns=["poly", "base_log"])/1000.).round(1)
#print(tmp.mean(axis=1).values)
tmp

poly      1024                           2048
base_log     3     4     5     6     7      3      4      5      6      7
level
3         18.5  18.5  22.6  18.0  19.6   72.9   73.8   76.0   73.5   73.5
4         24.1  23.9  23.6  24.4  24.1  100.7   95.3   97.4   94.5   95.9
5         29.7  29.4  29.8  30.7  30.8  122.0  122.3  127.8  121.0  137.3
6         35.6  36.2  36.0  46.5  38.0  146.0  149.4  157.2  157.4  149.0
7         41.4  43.5  52.5  42.6  44.9  170.9  170.7  168.5  176.7  180.2
8         47.7  49.4  48.7  62.4  48.9  194.9  194.3  194.9  212.1  205.1
9         53.1  55.4  56.4  62.3  58.6  223.9  246.8  225.7  226.3  224.1

### Simple bootstrap time

In [27]:
tmp = (df2.pivot_table(values="boot", index="level", columns=["poly", "base_log"])/1000.).round(1)
#print(tmp.mean(axis=1).values)
tmp

poly     1024                      2048
base_log    3    4    5    6    7     3     4     5     6     7
level
3         3.0  3.0  2.9  2.9  3.0  11.7  11.9  11.7  12.0  11.9
4         3.8  3.7  3.7  3.8  3.7  14.6  14.6  15.0  14.2  15.1
5         4.4  4.4  4.4  4.6  4.4  17.6  17.5  17.7  17.5  18.2
6         5.1  5.2  5.1  5.2  5.3  20.7  20.6  20.2  20.4  21.3
7         5.9  6.1  5.8  5.9  5.9  23.3  23.5  23.4  23.4  24.3
8         6.6  6.8  6.7  6.9  6.5  26.2  26.5  26.1  26.6  26.5
9         7.3  7.3  7.7  7.4  7.7  29.4  31.4  29.9  30.9  30.2